header{
  display: flex;
  align-items: center;
  background-color: $porcelain;
  height: 73px;
  border: 1px solid $athens-gray;
  font-family: GillSans, sans-serif;

  nav{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: space-between;

    .nav-left{
      display: flex;
      position: relative;

      span{
        font-size: em(15px);
        color: $mid-gray-opacity;
        margin-left: em(10px);
      }
    }



  a{
     &.menu-box{
      @include item-flex(100px);
     }

     &.search-box{
      @include item-flex(76px);
     }

     &.user-box{
      @include item-flex(165px);
      // &:hover{
      //   .user-account{
      //     display: flex;
      //   }
      // }
     }




     &.cart-box{
       @include item-flex(120px);
     }



     .user-box-inner{
       display: flex;
     }

   }

    .menu-icon{
      height: 14px;
    }

    .user-account{
      display: flex;
      flex-direction: column;
      border: 1px solid red;
      position: absolute;
      top: 73px;
      left: -1px;
      width: 99.5%;
      height: 288px;
      z-index: 100;
      background-color: $white;

      .user-inner{
        display: flex;
         align-items: center;
         background-color: $iron;
         padding: 0 em(21px);
         height: 75px;



         h3{
           display: inline-flex;
           margin-right: em(20px);
         }

         span{
           font-size: em(16px);
           text-decoration: underline;
           margin-right: auto;
           cursor: pointer;

           &:hover{
             color: $science-blue;
           }
         }


         .cancel-icon{
           width: 19px;
           cursor: pointer;

           &:hover{
             .cancel{
               fill:$science-blue;
             }
           }
         }
      } // Closing User Inner Div

      // Opening User-Menu
      .user-menu{
        display: flex;
        flex-direction: column;
        padding: em(15px) em(20px);
        .user-options{
          display: flex;
          border-bottom: 2px solid $iron;
          align-items: center;
          padding: em(20px) em(0px);
          cursor: pointer;
          &:hover{
            span{
              color: $science-blue;
            }
            .account-path{
              fill:$science-blue;
            }
          }

          &.last {
            border-bottom: none;
          }
          span{
            font-size: em(16.5px);
            color: $cod-gray;
            position: relative;
            top: 2px;
            margin-left: em(18px);
          }
        }

      }



    }

    .user-icon{
      height: 18px;
    }

    .cart-icon{
      height: 21px;
    }

    .nav-items{
       display: flex;
       align-content: center;
       @media(max-width: 870px){
         display: none;
       }
      ul{
        display: flex;
        align-items: center;

        li{
          font-size: em(16px);
          color: $mid-gray-opacity;
          margin-right: em(35px);
          @media(max-width: 1000px){
            font-size: em(15px);
          }
          &.active{
            color: $chenin;
          }
        }
      }
    }
  }
}
