header{
  display: flex;
  align-items: center;
  background-color: $porcelain;
  height: 73px;
  border: 1px solid $athens-gray;
  font-family: GillSans, sans-serif;

  nav{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: space-between;

    .nav-left{
      display: flex;

      span{
        font-size: em(15px);
        color: $mid-gray-opacity;
        margin-left: em(10px);
      }
    }



  a{
    input {
     position: relative;
     width: 100%;
     height: 95%;
     border: none;
     margin-right: auto;
    &::placeholder{
     font-size: em(15px);
    }
  }
     &.menu-box{
      @include item-flex(100px);
      position: relative;
      cursor: pointer;
  }

     &.search-box{
      @include item-flex(76px);
      cursor: pointer;
      .go-back{
        width: 29px;
        height: 100%;
        margin-left: em(20px);
        cursor: pointer;
      }
     }

     &.user-box{
      @include item-flex(165px);
     }

     &.cart-box{
       @include item-flex(120px);
     }



     .user-box-inner{
       display: flex;
     }



   }



    .menu-icon{
      height: 14px;
      }


    }

    .menu-slide{
      display: none;
      flex-direction: column;
      position: absolute;
      width: 350px;
      left: 2px;
      top: 75px;
      z-index: 1000;

      .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #efefef;
        padding-left: em(18px);
        padding-right: em(18px);

        .left-icon{
          cursor: pointer;
          &:hover{
            .arrow-path{
              fill: $science-blue;

            }
          }
        }
        span{
          text-transform: uppercase;
          margin: 0 auto;
          padding: em(26px) em(0px);
          color: $shark;
          font-size: em(16.5px);
          cursor: pointer;

          &:hover{
            color: $science-blue;
          }

        }
      }

      .inner-content{
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: em(33px) em(18px);
        height: 540px;

        .grid-item{
          display: flex;
          margin-bottom: em(30px);
          span{
            text-transform: uppercase;
            color: $shark;
            margin-right: auto;
          }
        }

        .bottom-grid-item{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: auto;
          span{
            color: #59595d;
            font-size: em(16.1px);
            font-family: Gillsans;
            margin-bottom: em(30px);

            &:last-child{
               margin-bottom: em(0px);
            }
          }
        }
      }

   } // Closing Menu Slide

    .user-account{
      display: none;
      flex-direction: column;
      border: 1px solid $iron;
      position: absolute;
      top: 73px;
      right: 0;
      width: 366px;
      height: 288px;
      z-index: 100;
      background-color: $white;

      .user-inner{
        display: flex;
         align-items: center;
         background-color: $iron;
         padding: 0 em(21px);
         height: 75px;



         h3{
           display: inline-flex;
           margin-right: em(20px);
         }

         span{
           font-size: em(16px);
           text-decoration: underline;
           margin-right: auto;
           cursor: pointer;

           &:hover{
             color: $science-blue;
           }
         }


         .cancel-icon{
           width: 19px;
           cursor: pointer;

           &:hover{
             .cancel{
               fill:$science-blue;
             }
           }
         }
      } // Closing User Inner Div

      // Opening User-Menu
      .user-menu{
        display: flex;
        flex-direction: column;
        padding: em(15px) em(20px);
        .user-options{
          display: flex;
          border-bottom: 2px solid $iron;
          align-items: center;
          padding: em(20px) em(0px);
          cursor: pointer;
          &:hover{
            span{
              color: $science-blue;
            }
            .account-path{
              fill:$science-blue;
            }
          }

          &.last {
            border-bottom: none;
          }
          span{
            font-size: em(16.5px);
            color: $cod-gray;
            position: relative;
            top: 2px;
            margin-left: em(18px);
          }
        }

      }



    }

    .user-icon{
      height: 18px;
    }

    .cart-icon{
      height: 21px;
    }

    .nav-items{
       display: flex;
       align-content: center;
       @media(max-width: 870px){
         display: none;
       }
      ul{
        display: flex;
        align-items: center;

        li{
          font-size: em(16px);
          color: $mid-gray-opacity;
          margin-right: em(35px);
          @media(max-width: 1000px){
            font-size: em(15px);
          }
          &.active{
            color: $chenin;
          }
        }
      }
    }
  }
